
.container{
    border: none;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    display: inline-block;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 10px;
    border-radius: 10px;
}
.prof-pic{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 25px;
  vertical-align: middle;
  margin-right: 5px;
}

.text{
    border: none;
    font-size: 18px;
    vertical-align: middle;
}

.button-class{
    background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: bold;
  vertical-align: middle;
}