.subscribe-button{
            background-color: rgb(229, 8, 8);
            color: aliceblue;
            border: none;
            border-radius: 2px;
            height: 35px;
            width: 100px;
            cursor: pointer;
            margin-right: 10px;
        }

        .join-button{
            background-color: rgb(255, 255, 255);
            color: rgb(64, 173, 213);
            border-color: rgb(64, 173, 213) ;
            height: 35px;
            width: 60px;
            border-radius: 2px;
            cursor: pointer;
            border-style:solid;
        }

        .tweet-button{
            background-color: rgb(8, 157, 237);
            color: white;
            font-weight: bold;
            border: none;
            height: 35px;
            width: 80px;
            border-radius: 20px;
            cursor: pointer;
            margin-left: 10px;
        }