body{
    margin: 0;
    padding-top: 60px;   /* Adjust padding to avoid content being hidden behind fixed header */
    padding-left: 60px;  /* Adjust padding to avoid content being hidden behind fixed sidebar */
    
}



