.thumbnail-one{
    width: 100%;
    margin-bottom: 0;
    
}

.head-text{
    font-family: Roboto, Arial;
    font-size: 16px;
    color: black;
    width: 250px;
    margin-top: 0;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 20px;
}

.author-text,
.view-text  {
    font-family: Roboto, Arial;
    color: rgb(121, 119, 119);
    font-size: 10px;
    margin-bottom: 0;
    margin-top: 5px;


}



/* .view-text{
    font-family: Roboto, Arial;
    color: rgb(121, 119, 119);
    font-size: 10px;
    
} */

.video-preview{
    display: inline-block;
    margin-right: 8px;
    vertical-align: top;
    flex: 1;
}

.video-thumbnail{
    width: 100%;
    row-gap: 140px;
}

.video-description{
    display: block;
}

.channel-photo{
    display: inline-block;
    width: 50px;
    vertical-align: top;
    

}

.channel-one{
    border-radius: 50px;
    border: none;
    height: 40px;
    margin-top: 10px;
    
    
    
}

.video-info{
    display: inline-block;
    width: 250px;
    margin-top: 10px;
}

.video-grid{
    display: flex;
    flex-direction: row;
}